@tailwind base;
@tailwind components;
@tailwind utilities;

.font-stretch {
  font-stretch: extra-condensed;
}

@layer utilities {
  .font-expanded {
    font-stretch: expanded;
  }
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
}

@layer utilities {
  .font-narrower {
    font-stretch: narrower;
  }
}

@layer utilities {
  .font-extra-condensed {
    font-stretch: extra-condensed;
  }
}

@layer utilities {
  .font-semi-condensed {
    font-stretch: semi-condensed;
  }
}

@layer utilities {
  .font-ultra-condensed {
    font-stretch: ultra-condensed;
  }
}
