@import 'tailwindcss';

@theme inline {
  /* Default Sans body font using Gotham */
  --font-gotham: var(--font-gotham);

  /* Additional XNarrow variant available as utility `font-xnarrow` */
  --font-gotham-xnarrow: var(--font-gotham-x-narrow);
}

@theme {
  --color-purple: #a863ff;
  --color-purple-200: #855cff;
  --color-purple-300: #2f293c;

  --color-black-800: #0e0c12;

  --animate-infinite-scroll: infinite-scroll 80s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(-200px);
    }
    50% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(-200px);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.animated-appear {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.animated-appear.open {
  opacity: 1;
  transform: translateY(0);
}
